<a href="https://colab.research.google.com/github/bryted/randomactivities/blob/main/member_update.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

In [4]:
up = pd.read_excel('MembersDump (1).xlsx')
ex = pd.read_excel('md0102.xlsx')

In [29]:
ex

             agentname        Mobile
0        NOT AVAILABLE  233242360346
1        NOT AVAILABLE  233555654824
2        NOT AVAILABLE  233242334993
3        NOT AVAILABLE  233240088637
4        NOT AVAILABLE  233243845761
...                ...           ...
53921   OTHER CHANNELS  233204259906
53922   OTHER CHANNELS  233203736239
53923   OTHER CHANNELS  233244115570
53924   OTHER CHANNELS  233243250443
53925  EBENEZER MENSAH  233541176292

[53926 rows x 2 columns]

In [ ]:
up1 = up[['[Agent name]','Mobile']]
up1['Mobile'] = up1['Mobile'].astype(str)
up1.rename(columns = {'[Agent name]':'agentname'},inplace = True)

In [ ]:
up1['Mobile'] = str(233) + up1['Mobile']

In [28]:
up1.drop_duplicates()

                   agentname           Mobile
0               MANDY ASANTE  233233244115570
1                MOSES NDIDA  233233243250443
2             OTHER CHANNELS  233233502664500
3             OTHER CHANNELS  233233242993287
4   NANCY CHRISTIANA BIRIWAA  233233241442595
5   NANCY CHRISTIANA BIRIWAA  233233544162274
6              MICHAEL BONSU  233233552018738
7             OTHER CHANNELS  233233242615771
8                MOSES NDIDA  233233243516443
9       SAMUEL BOACHIE-ENNIN  233233243511043
10            OTHER CHANNELS  233233592018495
11  NANCY CHRISTIANA BIRIWAA  233233249200518
12              MANDY ASANTE  233233540276393
13  NANCY CHRISTIANA BIRIWAA  233233249410980
14            OTHER CHANNELS  233233272919038
15            OTHER CHANNELS  233233555700445
16            OTHER CHANNELS  233233249447944
17            OTHER CHANNELS  233233597492430
18            OTHER CHANNELS  233233540443463
19            OTHER CHANNELS  233233552478311
20         ABENA SERWAH OSEI  233233591272028

In [32]:
frames = [ex,up1]
md1602 = pd.concat(frames)

In [33]:
md1602.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 53947 entries, 0 to 20
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   agentname  53947 non-null  object
 1   Mobile     53947 non-null  object
dtypes: object(2)
memory usage: 1.2+ MB

In [34]:
md1602 = md1602.drop_duplicates()

In [35]:
md1602.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 50294 entries, 0 to 20
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   agentname  50294 non-null  object
 1   Mobile     50294 non-null  object
dtypes: object(2)
memory usage: 1.2+ MB