<a href="https://colab.research.google.com/github/bryted/randomactivities/blob/main/member_update.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

In [2]:
up = pd.read_excel('MembersDump (2).xlsx')
ex = pd.read_excel('md2802.xlsx')

In [3]:
ex

             agentname        Mobile
0        NOT AVAILABLE  233242360346
1        NOT AVAILABLE  233555654824
2        NOT AVAILABLE  233242334993
3        NOT AVAILABLE  233240088637
4        NOT AVAILABLE  233243845761
...                ...           ...
50486  EBENEZER MENSAH  233559049272
50487  EBENEZER MENSAH  233245763068
50488  EBENEZER MENSAH  233243363364
50489  EBENEZER MENSAH  233551716937
50490  EBENEZER MENSAH  233579282957

[50491 rows x 2 columns]

In [ ]:
up1 = up[['[Agent name]','Mobile']]
up1['Mobile'] = up1['Mobile'].astype(str)
up1.rename(columns = {'[Agent name]':'agentname'},inplace = True)

In [ ]:
up1['Mobile'] = str(233) + up1['Mobile']

In [6]:
up1.drop_duplicates()

                  agentname          Mobile
0            OTHER CHANNELS    233242667609
1            OTHER CHANNELS    233242304285
2            OTHER CHANNELS    233244884605
3             MICHAEL BONSU    233599232518
4            OTHER CHANNELS    233244987641
5            OTHER CHANNELS    233246483058
6            OTHER CHANNELS    233594983984
7             MICHAEL BONSU    233241400162
8            OTHER CHANNELS  23346708852450
9            OTHER CHANNELS    233244886745
10           OTHER CHANNELS    233242479690
11           OTHER CHANNELS    233593620743
12           OTHER CHANNELS    233247915664
13           OTHER CHANNELS    233248525795
14           OTHER CHANNELS    233209376553
15           OTHER CHANNELS    233541779924
16           OTHER CHANNELS    233207386052
17           OTHER CHANNELS    233577363421
18           OTHER CHANNELS    233546762161
19           OTHER CHANNELS    233249911499
20           OTHER CHANNELS    233246417362
21           OTHER CHANNELS    233243380128
22       EMMANUEL AMOAANING    233249605852
23           OTHER CHANNELS    233247067408
24           OTHER CHANNELS    233245426617
25           OTHER CHANNELS    233549208018
26           OTHER CHANNELS    233552272257
27  PHILIP KWAKU ACHEAMPONG    233243338834
28  PHILIP KWAKU ACHEAMPONG    233245022678
29           OTHER CHANNELS    233551996728
30  PHILIP KWAKU ACHEAMPONG    233245063939
31           OTHER CHANNELS    233544081231
32           OTHER CHANNELS    233244532392
33           OTHER CHANNELS    233246343620
34       EMMANUEL AMOAANING    233246720396
35           OTHER CHANNELS    233544128640
36           OTHER CHANNELS    233591581098
37           OTHER CHANNELS    233244969399
38           OTHER CHANNELS    233549471651
39           OTHER CHANNELS    233242772259
40              LAUD MENSAH    233557330550
41           OTHER CHANNELS    233245182119
42           OTHER CHANNELS    233557078631
43           OTHER CHANNELS    233247630674
44           OTHER CHANNELS    233559674829
45           OTHER CHANNELS    233244932413
46           OTHER CHANNELS    233592025724
47           OTHER CHANNELS    233246894561
48           OTHER CHANNELS    233245182203
49           OTHER CHANNELS    233540487923
50           OTHER CHANNELS    233547187503
51           OTHER CHANNELS    233547945632
52           OTHER CHANNELS    233542707109
53           OTHER CHANNELS    233242540464

In [9]:
frames = [ex,up1]
md1403 = pd.concat(frames)

In [10]:
md1403.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 50545 entries, 0 to 53
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   agentname  50545 non-null  object
 1   Mobile     50545 non-null  object
dtypes: object(2)
memory usage: 1.2+ MB

In [11]:
md1403 = md1403.drop_duplicates()

In [12]:
md1403.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 50530 entries, 0 to 53
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   agentname  50530 non-null  object
 1   Mobile     50530 non-null  object
dtypes: object(2)
memory usage: 1.2+ MB

In [13]:
md1403.to_excel('md1403.xlsx')